/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_self
 */

/*
 * Globals
 */
@import url(http://fonts.googleapis.com/css?family=Roboto:500,300);

/* Links */
a,
a:focus,
a:hover {
  color: #4b4743;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


.logo {
  display: block;
  width: 339px;
  height: 47px;

  background: image-url('logo.png') no-repeat center;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  font-family: 'Roboto', sans-serif;
}
body {
  color: #fff;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background: image-url('bg.png') center;
  background-size: cover;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Footer
 */

.mastfoot {
  color: #4b4743; /* IE8 proofing */
  width: 100%;
  height: 230px;
  background: rgba(255, 255, 255, 0.4);
  position: fixed;
  bottom: 0;
}

.mastfoot h1 {
  padding: 0;
  margin: 0 0 30px 0;
  font-weight: 300;
}

.mastfoot .fixed-bottom {
  font-weight: 500;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 30px;
  text-align: center;
  width: 100%;
}

/*
 * Affix and center
 */

@media (min-width: 550px) {
  .mastfoot h1 {
    font-size: 3.4em;
  }
}

@media (min-width: 650px) {
  .mastfoot h1 {
    font-size: 3.7em;
  }
}

@media (min-width: 750px) {
  .mastfoot h1 {
    font-size: 4.2em;
  }
}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .mastfoot h1 {
    font-size: 4.5em;
    width: 768px;
    margin: 0 auto;
  }
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 1200px;
  }
}
